# Ignorar dependencias locales
node_modules
npm-debug.log

# Ignorar build local
dist

# Ignorar archivos de control de versiones e IDE
.git
.gitignore
.vscode
.kiro

# Ignorar entornos locales
.env
.env.local
.env.development
.env.production
